{{define "yield"}}
<h1>Contact Us</h1>
<p1> To get in touch please email to <a href= "mailto:administrator@clrpix.com"> administrator@clrpix.com.</a></p1>

{{template "footer"}}
{{end}}

{{template "yield"}}